.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;


}
.glass {
  background: white;
  min-height: 90vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;

}
.App-header {
  border-radius: 2rem;
}
.bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.GenerateJokes {
  background-color: bisque;
  width:33%
}
.SubmitJokes {
  background-color: red;
  width:33%
}
.SavedJokes {
  width:33%;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}







