.App {
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass {
  background: white;
  min-height: 90vh;
  width: 70%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;

}
.App-header {
  border-radius: 2rem;
}
.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.GenerateJokes {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(161, 173, 243, 0.3)
  );
  border-radius: 2rem;
  padding: 2%;
  margin: 2%;
  height: 20vh;
}
.SubmitJokes {
  background-color: rgba(241, 238, 238, 0.274);
  border-radius: 2rem;
  padding: 2%;
  margin: 2%;
  height: 20vh;
}
.SavedJokes {
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  padding: 2%;
  margin: 2%;
  height: 25vh;
}
.jokeContainer {
  /* background-color: aqua; */
  border-radius: 2rem;
  overflow-wrap: break-word;
  height: 15vh;
  padding: 5%;
  margin: 2%;
}
.btn-logout {
  color: rgb(196, 80, 80);
  font-size: 10px;
  padding: 10px 6px;
  border-radius: 50px;
  margin: 5px 0px;
  cursor: pointer;
  position: absolute;
  top: 1.2%;
  right: 5%;
}
.right-arrow {
  position: relative;
  top: 50px;
  right: -50%;
  font-size: 3rem;
  color: #96dedaba;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: relative;
  top: 50px;
  left: -50%;
  font-size: 3rem;
  color: #96dedaba;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}







